apiVersion: v1
kind: Config
clusters:
- name: "local"
  cluster:
    server: "https://rancher.localhost/k8s/clusters/local"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJwekNDQ\
      VUyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQTdNUnd3R2dZRFZRUUtFeE5rZVc1aGJXbGoKY\
      kdsemRHVnVaWEl0YjNKbk1Sc3dHUVlEVlFRREV4SmtlVzVoYldsamJHbHpkR1Z1WlhJdFkyRXdIa\
      GNOTWpFdwpPVEF5TVRFd09ETTRXaGNOTXpFd09ETXhNVEV3T0RNNFdqQTdNUnd3R2dZRFZRUUtFe\
      E5rZVc1aGJXbGpiR2x6CmRHVnVaWEl0YjNKbk1Sc3dHUVlEVlFRREV4SmtlVzVoYldsamJHbHpkR\
      1Z1WlhJdFkyRXdXVEFUQmdjcWhrak8KUFFJQkJnZ3Foa2pPUFFNQkJ3TkNBQVJPdmk3d3kvdEs4S\
      1M4aTBOY1hjZzdRRWl1dGtmbUhsWmJQYUVoazlhZwovaVdZaVFjM1ZXaWNTV1VFTVZqNUZ6Z0hjb\
      E1ZT1k1b3lCcXdYQ2s5SmJOY28wSXdRREFPQmdOVkhROEJBZjhFCkJBTUNBcVF3RHdZRFZSMFRBU\
      UgvQkFVd0F3RUIvekFkQmdOVkhRNEVGZ1FVR3FHQWN5eUFsb0x2Nnl3K0Y3M1UKWHlIbTlid3dDZ\
      1lJS29aSXpqMEVBd0lEU0FBd1JRSWhBTjhlYXY1aWw3c09YS1VPZG5iZnk2ZERFUzZKb2NLNwpvM\
      3lOcWtWRDNiYVlBaUFoK2EyK3NZcjVHM0hiWVBCeUVvdk0vQ1BOUzZ6VUJsSXpqL1hMUnNXSWlnP\
      T0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ=="

users:
- name: "local"
  user:
    token: "kubeconfig-user-qkgd2ljsxr:sj5zjqvhtvz9s78xtlvzpn4tf6ql5g7lw69bjk4xwscrc26gmwqm8m"


contexts:
- name: "local"
  context:
    user: "local"
    cluster: "local"

current-context: "local"