<div class="row" id="buttons">
  <dx-button stylingMode="outlined"
             icon="back"
             [width]="40"
             class="button"
             hint="Back"
             (onClick)="onBackClicked()">
  </dx-button>

  <dx-button class="button"
             icon="save"
             stylingMode="outlined"
             [width]="40"
             hint="Save your work!"
             (onClick)="onDeployedClicked()">
  </dx-button>

</div>

<div class="d-flex flex-column" id="editorContainer">

  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="adlContent" class="editor flex-grow-1"></ngx-monaco-editor>

</div>
